body {
    font-family: tahoma;
    margin: 0 0 0 0;
}

.secao1 {
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
}
.secao2 {
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
}
.secao3 {
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
}
.secao4 {
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
}
.secao5 {
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
}
.secao6 {
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
}